.container{
    width: 1400px;
    background-color: var(--colour-lightgrey);
    margin: 3.2rem auto;
    min-height: 100vh;
}
.header{
    min-height: 18rem;
    background-color: var(--colour-lightblue);
   
}
.content{
    min-height: 50vh;
    display: flex;
    background-color: var(--colour-lightblue);
    
}
.sidebar{
    background-color: var(--colour-darkblue);
    flex: 0 1 25%;
    border: 2px solid var(--colour-lightgrey);
}
.icacie-info{
    background-color: var(--colour-sky);
    flex: 1 0 75%;
    padding: 1.4rem;
    border: 2px solid var(--colour-lightgrey);
}
.footer{
    height: 12rem;
    background-color: var(--colour-lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}