.header-cover{
    display: flex;
    font-size: 1.7rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.udm_link{
    color: aqua;
    text-decoration: none;
}
.udm_link:hover{
    color:var(--colour-darkblue);
}
.logo{
    height: 6rem;
    width: 200px;
    margin-left: 1rem;
}
.header-nav{
    background-color:var(--colour-sky);
    
}
.header-nav_items{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-top: .9rem;
}
.header-nav__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: aqua;
    font-weight: 700;
}
.header-nav__link:hover{
    font-size: 1.4rem;
    color: black;
}
/* CONTENT */
/* SIDE-BAR */

.sidebar-special{
    width: 100%;
    background-color: var(--colour-darkblue);
    min-height: 6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    
}
.sidebar-special__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-sky);
    padding: 2rem;
    text-decoration: none;
    margin: 3px;
    color: black;
    border-radius: 5%;
    color: aliceblue;
    
}
.sidebar-special__link:hover{
    background-color: aqua;
    color: black;
}
.sidebar-latest{
    width: 100%;
    min-height: 10rem;
    padding-left: 25px;
    color: aliceblue;
    margin: 3px;
    
}
.sidebar-latest>h2{
    padding: 3px;
    margin-bottom: 2px;
    
}
.sidebar-latest__list{
    padding: 3px;
    line-height: 2.1;
    margin: 2px;
}
.sidebar-important{
    width: 100%;
    min-height: 10rem;
    padding-left: 25px;
    color: aliceblue;
    margin: 3px;
    line-height: 2.1;

}

.sidebar-important__list{
    padding: 3px;
    line-height: 2.1;
    margin: 2px;;
}

.sidebar-website{
    width: 100%;
    min-height: 10rem;
    padding-left: 25px;
    color: aliceblue;
    margin: 3px;
    
}
.sidebar-website>h2{
    padding: 3px;
    margin-bottom: 2px;
    margin-top: 5px;
    
}
.website-box{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 15px;
    color: aliceblue;
}
.website-box>a{
    color: aliceblue;
}
.website-box>a:hover{
    color: aqua;
}


/* ICACIE-INFO */
.cover{
    /* display: flex;
    flex-direction: column; */
}

.cover-img{
    height: 300px;
    width:100%;
    border: 3px solid var(--colour-darkgrey);
}

.cover-nav{
    background-color: var(--colour-darkblue);
    padding: 3px;
}

.cover-nav_items{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.4rem;
}

.cover-nav__link{
    text-decoration: none;
    color: aqua;
    font-weight: 700;
}
.cover-nav__link:hover{
    text-decoration: none;
    color: var(--colour-sky);
    text-decoration: underline;
}

/* VENUE sub : Accomodation */


.container-accom{
    min-height: 100vh;
    background: linear-gradient(60deg,var(--colour-lightgrey),rgb(153, 198, 237));
    padding: 20px 10%;
    padding-bottom: 60px;
}

.container-accom .heading{
    text-align: center;
    padding-bottom: 15px;
    color: black;
    text-shadow: 2px 5px 10px var(--colour-sky);
    font-size: 2.3rem;
}

.container-accom .container-accom_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 15px;
}

.container-accom .container-accom_box .box{
    box-shadow: 2px 5px 10px var(--colour-sky);
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: center;
    padding: 25px 15px;
}

.container-accom .container-accom_box .box img{
    height: 270px;
    width: 190px;
}

.container-accom .container-accom_box .box h3{
    color: black;
    font-size: 1.4rem;
    padding: 15px 0;
}

.container-accom .container-accom_box .box p{
    color: black;
    font-size: 1.2rem;
    padding: 15px 0;
    line-height: 1.4;
}

.container-accom .container-accom_box .box .btn{
    margin-top: 15px;
    display: inline-block;
    background: var(--colour-darkblue);
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px 25px;
}

.container-accom .container-accom_box .box .btn:hover{
    letter-spacing: 1.2px;
}

.container-accom .container-accom_box .box:hover{
    box-shadow: 2px 10px 15px var(--colour-sky);
}





/* FOOTER */

.contributor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    margin-left: 2rem;
}
.logolink{
    height: 6.1rem;
    width: 9rem;
    padding: .8rem;
}
.social-page{
    display: flex;
    align-self: flex-end;
    margin-right: 250px;
    width: 4rem;
    height: 4rem;
    position: absolute;
}
.social-page__icon{
    padding: 5px;
}
.copywrite{
    font-weight: 700;
    font-size: 1rem;
}
